<strong>Olá, {{ organizer }}</strong>
<p>Você possui um novo inscrito em seu meetup:</p>
<p>
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Data/Hora do Meetup: </strong> {{ date }} <br />
  <strong>Inscrito: </strong> {{ user }} <br />
</p>
